*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: minmax(200px, 0.5fr) 4fr;
    grid-template-rows: 200px 1fr 1fr 60px;
    height: 100vh;
}

.header-class {
    grid-area: 1/1/2/4; 
    background-color: aqua;  
}

.header-div {
    display: flex;
}

#header-icon {
    width: 75px;
}

.sidebar-class {
    grid-area: 2/1/4/2;
    background-color: blue; 
}

.main-class {
    grid-area: 2/2/4/4;
    background-color: blueviolet;
}

.footer-class {
    grid-area: 4/1/5/4;
    background-color: brown;
}